n8n/workflows/discord-command-center.json
{
  "name": "Discord Command Center",
  "nodes": [
    {
      "parameters": {
        "channel": "commands",
        "options": {}
      },
      "id": "discord-trigger",
      "name": "Discord Trigger",
      "type": "n8n-nodes-base.discordTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.content }}",
              "operation": "startsWith",
              "value2": "!"
            }
          ]
        }
      },
      "id": "filter-commands",
      "name": "Filter Commands",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "functionCode": "// Parse Discord command\nconst message = $input.item.json.content;\nconst parts = message.slice(1).split(' ');\nconst command = parts[0].toLowerCase();\nconst args = parts.slice(1);\n\nreturn {\n  json: {\n    command: command,\n    args: args,\n    raw_message: message,\n    user: $input.item.json.author,\n    channel: $input.item.json.channel_id\n  }\n};"
      },
      "id": "parse-command",
      "name": "Parse Command",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.command }}",
                    "value2": "email"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "email"
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.command }}",
                    "value2": "insta"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "instagram"
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.command }}",
                    "value2": "vinted"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "vinted"
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.command }}",
                    "value2": "help"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "help"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "route-command",
      "name": "Route Command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Tu es un assistant qui aide à traiter des commandes Discord pour automatiser Gmail, Instagram, et VintedBot. Analyse la commande et retourne une réponse JSON structurée."
            },
            {
              "role": "user",
              "content": "=Commande: {{ $json.command }}\\nArguments: {{ $json.args.join(' ') }}\\n\\nAnalyse cette commande et retourne la meilleure action à effectuer."
            }
          ]
        },
        "options": {
          "temperature": 0.7
        }
      },
      "id": "chatgpt-processor",
      "name": "ChatGPT Processor",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "operation": "send",
        "to": "={{ $json.args[0] }}",
        "subject": "={{ $json.args[1] }}",
        "message": "={{ $json.args.slice(2).join(' ') }}"
      },
      "id": "gmail-send",
      "name": "Gmail Send",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [1250, 100]
    },
    {
      "parameters": {
        "url": "http://localhost:5000/vinted/publish",
        "method": "POST",
        "bodyParametersJson": "={{ JSON.stringify($json) }}",
        "options": {
          "headers": {
            "entries": [
              {
                "name": "Authorization",
                "value": "Bearer {{ $env.VINTEDBOT_API_KEY }}"
              }
            ]
          }
        }
      },
      "id": "vinted-api",
      "name": "VintedBot API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "content": "=✅ Commande exécutée avec succès!\\n\\n**Résultat:**\\n```json\\n{{ JSON.stringify($json, null, 2) }}\\n```",
        "webhookUrl": "={{ $env.DISCORD_WEBHOOK_URL }}"
      },
      "id": "discord-response",
      "name": "Discord Response",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 1,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "Discord Trigger": {
      "main": [
        [
          {
            "node": "Filter Commands",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Commands": {
      "main": [
        [
          {
            "node": "Parse Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Command": {
      "main": [
        [
          {
            "node": "Route Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Command": {
      "main": [
        [
          {
            "node": "ChatGPT Processor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ChatGPT Processor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "VintedBot API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChatGPT Processor": {
      "main": [
        [
          {
            "node": "Gmail Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Send": {
      "main": [
        [
          {
            "node": "Discord Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VintedBot API": {
      "main": [
        [
          {
            "node": "Discord Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-15T10:00:00.000Z",
  "versionId": "1"
}
